* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

/* 1st Class Creating a Navigation Bar */

:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffffff;
  --light-gray-color: #f0f0f0;
  --gray-color: #888888;
  --dark-grey-color: #555;
}

body {
  height: 100vh;
  text-align: center;
  background-color: var(--background-color);
  padding: 1rem;
}

.navbar {
  max-width: 1288px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
}

.logo a {
  font-size: 2rem;
  color: var(--text-color);
}

.navLinks {
  display: none;
  gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .navLinks {
    display: flex;
  }
}

.navLinks a {
  color: #718096;
  font-size: 1.125rem;
  font-weight: 600;
  transition: 0.3s color;
  -webkit-transition: 0.3s color;
  -moz-transition: 0.3s color;
  -ms-transition: 0.3s color;
  -o-transition: 0.3s color;
}

.navLinks a:hover {
  color: var(--link-color);
}

.ContactBTN a {
  border: none;
  display: none;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  transition: 0.1s all;
  padding: 0.75rem 1.5rem;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -ms-transition: 0.1s all;
  -o-transition: 0.1s all;
}

@media screen and (min-width: 768px) {
  .ContactBTN a {
    display: flex;
  }
}

.ContactBTN a:hover {
  background-color: #5254f8;
}

.menu-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-button {
    display: block;
  }
}

.menu-button .menu-icon {
  height: 1.5rem;
  width: 1.5rem;
}
